<div class="row justify-content-between">
  <div class="col-4">
    <h4 class="list-group-item-heading">{{firefighter.name}}</h4>
    <p class="list-group-item-text">{{firefighter.number}}</p>
  </div>
  <div class="col-4">
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-primary" id="n2Manage" ngbDropdownToggle>Manage N2</button>
      <div ngbDropdownMenu aria-labelledby="n2Manage">
        <button class="dropdown-item" (click)='onEdit'>Add N2</button>
        <button class="dropdown-item" (click)="onDelete">Add Penalty N2</button>
        <button class="dropdown-item" (click)="onDelete">Defer N2</button>
      </div>
    </div>
  </div>
</div>
