<mat-tab-group>
  <mat-tab label="N2 Roster">
    <app-roster-n2></app-roster-n2>
  </mat-tab>
  <mat-tab label="Fire Fighter Tallies">
    <app-roster-create></app-roster-create>
  </mat-tab>
  <mat-tab label="Roster Builder">
    <app-roster-edit></app-roster-edit>
  </mat-tab>
</mat-tab-group>

<!-- <ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <a routerLink='new'>New Roster</a>
    </ng-template>
    <ng-template ngbTabContent></ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <a routerLink='list'>Roster List</a>
    </ng-template>
    <ng-template ngbTabContent></ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <a routerLink='n2'>N2 Roster</a>
    </ng-template>
    <ng-template ngbTabContent></ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <a routerLink='pumps'>Pump list</a>
    </ng-template>
    <ng-template ngbTabContent></ng-template>
  </ngb-tab>
</ngb-tabset> -->
