<ngb-tabset>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <a routerLink='new'>New Roster</a>
    </ng-template>
    <ng-template ngbTabContent></ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <a routerLink='list'>Roster List</a>
    </ng-template>
    <ng-template ngbTabContent></ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <a routerLink='n2'>N2 Roster</a>
    </ng-template>
    <ng-template ngbTabContent></ng-template>
  </ngb-tab>
  <ngb-tab>
    <ng-template ngbTabTitle>
      <a routerLink='pumps'>Pump list</a>
    </ng-template>
    <ng-template ngbTabContent></ng-template>
  </ngb-tab>
</ngb-tabset>
