<form [formGroup]='firefighterForm' (ngSubmit)="onSubmit()">
  <div fxLayout="column">
    <div fxLayout>
      <button fxFlex mat-raised-button type="submit" color="primary" [disabled]='!firefighterForm.valid'>Save</button>
      <button fxFlex fxFlexOffset="10px" mat-raised-button color="accent" (click)="onCancel()">Cancel</button>
    </div>

    <div fxFlex fxFlexOffset="10px">
      <mat-form-field>
        <input matInput placeholder="number" type="number" id='number' formControlName="number">
      </mat-form-field>
    </div>

    <div fxFlex fxFlexOffset="10px">
      <mat-form-field>
        <input matInput placeholder="rank" type="text" id='rank' formControlName="rank">
      </mat-form-field>
    </div>

    <div fxFlex fxFlexOffset="10px">
      <mat-form-field>
        <input matInput placeholder="name" type="text" id='name' formControlName="name">
      </mat-form-field>
    </div>

    <div fxFlex fxFlexOffset="10px">
      <mat-checkbox formControlName="md">Motor Driver</mat-checkbox>
    </div>

    <div fxFlex fxFlexOffset="10px">
      <mat-checkbox formControlName="rescue">Rescue</mat-checkbox>
    </div>

    <div fxFlex fxFlexOffset="10px">
      <mat-checkbox formControlName="aerial">Aerial</mat-checkbox>
    </div>

  </div>
</form>
