<div class="row">
  <div class="col-xs-12">
    <form [formGroup]='firefighterForm' (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button type="submit" class="btn btn-success" [disabled]='!firefighterForm.valid'>Save</button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="id">Id</label>
            <input type="text" id='id' class="form-control" formControlName="id">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="number">number</label>
            <input type="text" id='number' class="form-control" formControlName="number">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="rank">rank</label>
            <input type="text" id='rank' class="form-control" formControlName="rank">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">name</label>
            <input type="text" id='name' class="form-control" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="qualifications">
          <div class="row" *ngFor="let qualificationCtrl of getControls(); let i = index"
          style='margin-top: 10px;'
          >
            <div class="col-xs-10">
              <input type="text" class="form-control" [formControl]='qualificationCtrl'>
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="onDeleteIngredient(i)">X</button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button
              type="button"
              class="btn btn-success" (click)='onAddQualification()'>Add Ingredient</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
