<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="flyerFormGroup">
    <div class="row">
      <div class="col">
        <form [formGroup]="flyerFormGroup">
          <ng-template matStepLabel>Flyer</ng-template>
          <mat-form-field>
            <mat-select placeholder="Firefighters" formControlName="firstCtrl" multiple [(value)]="selected">
              <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[0][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
            </mat-select>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </div>
    </div>
  </mat-step>
  <mat-step [stepControl]="runnerFormGroup">
    <form [formGroup]="runnerFormGroup">
      <ng-template matStepLabel>Runner</ng-template>
      <mat-form-field>
        <mat-select placeholder="Firefighters" formControlName="secondCtrl" multiple>
          <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[1][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="rescuePumpFormGroup">
    <form [formGroup]="rescuePumpFormGroup">
      <ng-template matStepLabel>Rescue Pump</ng-template>
      <mat-form-field>
        <mat-select placeholder="Firefighters" formControlName="thirdCtrl" multiple>
          <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[2][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="salvageFormGroup">
    <form [formGroup]="salvageFormGroup">
      <ng-template matStepLabel>Salvage</ng-template>
      <mat-form-field>
        <mat-select placeholder="Firefighters" formControlName="fourthCtrl" multiple>
          <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[3][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="brontoFormGroup">
    <form [formGroup]="brontoFormGroup">
      <ng-template matStepLabel>Bronto</ng-template>
      <mat-form-field>
        <mat-select placeholder="Firefighters" formControlName="fifthCtrl" multiple>
          <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[4][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
