<mat-horizontal-stepper #stepper>
  <mat-step [stepControl]="flyerFormGroup">
    <form [formGroup]="flyerFormGroup">
      <ng-template matStepLabel>Flyer</ng-template>
      <mat-form-field>
        <mat-select placeholder="Driver" formControlName="flyerCtrlDriver">
          <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[0][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Number One" formControlName="flyerCtrl1">
          <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[0][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Number Two" formControlName="flyerCtrl2">
          <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[0][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Number Three" formControlName="flyerCtrl3">
          <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[0][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="runnerFormGroup">
    <form [formGroup]="runnerFormGroup">
      <ng-template matStepLabel>Runner</ng-template>
      <mat-form-field>
        <mat-select placeholder="Driver" formControlName="runnerCtrlDriver">
          <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[1][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Number One" formControlName="runnerCtrl1">
          <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[1][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Number Two" formControlName="runnerCtrl2">
          <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[1][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Number Three" formControlName="runnerCtrl3">
          <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[1][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="rescuePumpFormGroup">
    <form [formGroup]="rescuePumpFormGroup">
      <ng-template matStepLabel>Rescue Pump</ng-template>
      <mat-form-field>
        <mat-select placeholder="Driver" formControlName="rpCtrlDriver">
          <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[2][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Number One" formControlName="rpCtrl1">
          <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[2][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Number Two" formControlName="rpCtrl2">
          <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[2][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Number Three" formControlName="rpCtrl3">
          <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[2][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="salvageFormGroup">
    <form [formGroup]="salvageFormGroup">
      <ng-template matStepLabel>Salvage</ng-template>
      <mat-form-field>
        <mat-select placeholder="Driver" formControlName="salvageCtrlDriver">
          <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[3][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Offsider" formControlName="salvageCtrlOffsider">
          <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[3][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="brontoFormGroup">
    <form [formGroup]="brontoFormGroup">
      <ng-template matStepLabel>Bronto</ng-template>
      <mat-form-field>
        <mat-select placeholder="Driver" formControlName="brontoCtrlDriver">
          <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[4][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Offsider" formControlName="brontoCtrlOffsider">
          <mat-option *ngFor="let firefighterEl of (rostersState | async).pumpPreferences[4][1]" value="firefighterEl">{{firefighterEl}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    You are now done.
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
