<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink='/' class="navbar-brand">C Platoon Tools</a>
    </div>
    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/rostering">Rostering</a></li>
        <li routerLinkActive="active"><a routerLink="/firefighters">Firefighters</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li><a style="cursor: pointer;" (click)='getFirefighters()'>Fetch Data</a></li>
        <li><a (click)='signup()' style="cursor: pointer;">Register</a></li>
        <li><a (click)='signin()' style="cursor: pointer;">Log in</a></li>
        <li><a (click)='signout()' style="cursor: pointer;">Log out</a></li>
      </ul>
    </div>
  </div>
</nav>
