<mat-toolbar>
  <span>C Platoon Tools</span>
  <span class="example-fill-remaining-space"></span>
  <span>
    <button mat-button [matMenuTriggerFor]='menu'>Menu</button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item [routerLink]="['/']">Home</button>
      <button mat-menu-item [routerLink]="['/firefighters']">Firefighters</button>
      <button mat-menu-item [routerLink]="['/rostering']">Rosters</button>
      <button mat-menu-item [routerLink]="['/signin']" *ngIf="!(authState | async).isAuthenticated">Sign In</button>
      <button mat-menu-item [routerLink]="['/logout']" *ngIf="(authState | async).isAuthenticated">Sign Out</button>
    </mat-menu>
  </span>
</mat-toolbar>
