<div class="row">
  <div class="col-12">
    <h4>{{firefighter.number}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h4>{{firefighter.rank}}</h4>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{firefighter.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>Last N2: {{firefighter.nightDuty.n2.toDateString()}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <ng-container *ngFor="let qualification of firefighter.qualifications | keys">
        <li class="list-group-item" *ngIf="firefighter.qualifications[qualification]">{{qualification}}</li>
      </ng-container>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="d-inline-block" ngbDropdown>
      <button class="btn btn-primary" id="manageFirefighter" ngbDropdownToggle>Manage firefighter</button>
      <div ngbDropdownMenu aria-labelledby="manageFirefighter">
        <button class="dropdown-item" (click)='onEditFirefighter()'>Edit firefighter</button>
        <button class="dropdown-item" (click)='onDeleteFirefighter()'>Delete firefighter</button>
    </div>
  </div>
</div>
