<div fxLayout="column">
  <div fxFlex>
    <h1 class="mat-h1">{{firefighter.number}}</h1>
  </div>
  <div fxFlex>
    <h2 class="mat-h2">{{firefighter.rank}}</h2>
  </div>
  <div fxFlex>
    <h1 class="mat-h1">{{firefighter.name}}</h1>
  </div>
  <div fxFlex>
    <mat-list>
      <mat-list-item *ngFor="let qualification of firefighter.qualifications">
        {{qualification}}
      </mat-list-item>
    </mat-list>
  </div>
  <div fxFlex>
    <button mat-button color="primary" [matMenuTriggerFor]="menu">Manage firefighter</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)='onEditFirefighter()'>Edit firefighter</button>
      <button mat-menu-item (click)='onDeleteFirefighter()'>Delete firefighter</button>
    </mat-menu>
  </div>
</div>
