<div fxLayout="column">
  <div fxFlex>
    <h4>{{firefighter.number}}</h4>
  </div>
  <div fxFlex>
    <h4>{{firefighter.rank}}</h4>
  </div>
  <div fxFlex>
    <h1>{{firefighter.name}}</h1>
  </div>
  <div fxFlex>
    <mat-list>
      <mat-list-item *ngFor="let qualification of firefighter.qualifications">
        {{qualification}}
      </mat-list-item>
    </mat-list>
  </div>
  <div fxFlex>
    <button mat-button color="primary" [matMenuTriggerFor]="menu">Manage firefighter</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)='onEditFirefighter()'>Edit firefighter</button>
      <button mat-menu-item (click)='onDeleteFirefighter()'>Delete firefighter</button>
    </mat-menu>
  </div>
</div>
